openapi: 3.1.0
info:
  title: Mario Personal MCP API
  version: 1.0.0
  description: Public API exposing Mario Mayerle's LinkedIn profile, GitHub repositories, blog posts, and indexed books.

servers:
  - url: https://mcp.mariomayerle.com

paths:
  /resources/livros:
    post:
      summary: Query insights from Mario's books
      operationId: queryBooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: User's question about the book content
      responses:
        '200':
          description: Response retrieved from Mario's book collection

  /resources/livros_indexados:
    get:
      summary: List all books authored by Mario (based on vectorstore)
      operationId: getIndexedBooks
      responses:
        '200':
          description: List of indexed book titles
          content:
            application/json:
              schema:
                type: object
                properties:
                  livros:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        nome:
                          type: string
                        status:
                          type: string

  /resources:
    get:
      summary: Retrieve all public data (LinkedIn, GitHub, Blogposts)
      operationId: getAllResources
      responses:
        '200':
          description: Public data successfully retrieved

  /resources/linkedin:
    get:
      summary: Retrieve LinkedIn profile data
      operationId: getLinkedInProfile
      responses:
        '200':
          description: LinkedIn profile data retrieved successfully

  /resources/github:
    get:
      summary: Retrieve GitHub repositories
      operationId: getGitHubRepositories
      responses:
        '200':
          description: GitHub repositories retrieved successfully

  /resources/blogposts:
    get:
      summary: Retrieve full blog posts
      operationId: getBlogPosts
      responses:
        '200':
          description: Full blog posts retrieved successfully

  /resources/blogposts_simple:
    get:
      summary: Retrieve simplified list of latest blog posts
      operationId: getSimpleBlogPosts
      responses:
        '200':
          description: Simplified blog posts retrieved successfully

  /tools/get_project_details:
    get:
      summary: Retrieve details of a specific GitHub repository
      operationId: getProjectDetails
      parameters:
        - in: query
          name: repo_name
          required: true
          schema:
            type: string
          description: Exact name of the repository to query
      responses:
        '200':
          description: Repository details retrieved successfully
        '404':
          description: Repository not found

  /resources/imagens:
    get:
      summary: Retrieve available images of Mario Mayerle
      operationId: getMarioImages
      responses:
        '200':
          description: List of image metadata and public URLs
          content:
            application/json:
              schema:
                type: object
                properties:
                  imagens:
                    type: array
                    items:
                      type: object
                      properties:
                        filename:
                          type: string
                        descricao:
                          type: string
                        url:
                          type: string

  /resources/videos:
    get:
      summary: List latest YouTube videos from Mario's channel
      operationId: listYouTubeVideos
      responses:
        '200':
          description: A list of recent video links
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                      description: Video title
                    url:
                      type: string
                      format: uri
                      description: Full YouTube URL
                    thumbnail:
                      type: string
                      format: uri
                      description: Thumbnail image URL


